.navbar {
  background-color: white !important;
  align-items: center;
  color: red !important;
  position: fixed !important;
  top: 0;
  &.main {
    h1 {
      flex: none !important;
    }
  }

  .logo {
    height: 40px;
    margin-top: 10px !important;
    margin-left: 20px !important;
    &.sidebar {
      margin-top: 15px;
      margin-left: 0 !important;
    }
  }

  .menu-icon {
    padding-left: 20px !important;
  }
  .sidebar {
    flex-direction: row-reverse;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
    svg {
      height: 30px;
      width: 30px;
      color: white !important;
    }

    button {
      margin: 0 !important;
    }
  }
}
