body {
  overflow: auto !important;
}

@media only screen and (min-width: 957px) {
  #format-time {
    position: absolute;
    top: 210px;
    right: 40vw;
  }
}

@media only screen and (min-width: 1200px) {
  #format-time {
    position: absolute;
    top: 210px;
    right: 32vw;
  }
}
