.index-column {
  padding-left: 48px !important;
}
.list-topic {
  width: 100%;
}
.id-column {
  text-align: center;
  line-height: 200%;
}
.list-btn-add {
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-btn-action {
  margin-right: 24px;
}
.action-column {
  text-align: center;
}
