//list conf
.card-content-dashboard {
  width: 60%;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 2%;
  border: 1px solid rgb(197, 189, 189);
  background:  url('./../../images/conf-dashboard.png') no-repeat;
  background-size: 100% auto;
}

.list-conf {
  background-color: rgb(197, 189, 189);
  padding-bottom: 19px;
  color: rgb(255, 87, 34);
  font-weight: bold;
  font-size: 18px;
}

.data {
  display: flex;
}

//menu
.navbar {
  background-color: white !important;
  align-items: center;
  color: red !important;
  position: fixed !important;
  top: 0;

  h1 {
    display: none;
  }

  button {
    display: none;
  }
  .space {
    flex: 1 1 0% !important;
  }
  // eslint-disable-next-line
  .logo {
    height: 30px;
    margin-left: 0 !important;
  }
}

.dashboard {
  .conferences {
    display: flex;
  }

}

.list-dashboard {
  margin-top: 5%;
  float: right;
  width: 30%;
  // border: 1px solid gray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



//card
.content {
  height: -webkit-fill-available !important;
  // background: linear-gradient(
  //   rgba(241, 240, 240, 0.4),
  //   rgba(241, 240, 240, 0.4)
  // ),
  // url('./../../images/background/backgroundimage.jpg') !important;
}
.conference-card {
  font-family: Roboto, sans-serif;
  padding-top: 80px;
  margin-bottom: -30px;
  width: 40%;
  padding-left: 7%;
  float: left;

  .data {
    display: flex !important;
  }

  .conf-title {
    background-color: rgb(255, 87, 34) !important;
    color: white;
    padding: 16px;
    font-size: 25px;
    height: 40px;
  }
  .conf-des {
    padding: 32px;
    height: 40px;
  }
  .conf-date {
    padding: 4px;
    font-size: 13px;
    display: flex;
  }

  .end-date {
    margin-left: 20px;
  }

  .conf-date-icon {
    margin-top: -6px;
    color: white !important;
    height: 19px !important;
    width: 22px !important;
  }
  .conf-line {
    color: grey;
    padding: 0;
  }

  .switch-button {
    // background-color: rgb(255, 87, 34) !important;
    padding-left: 16px;
    margin: 16px !important;
  }

  .btn {
    float: right;
    margin-top: 24px;
  }

  .consf-switch {
    border-top: 1px solid grey;
    height: 56px;
  }
}
