.change-password-button{
  display: flex;
  .btn {
    &.changePass {
      width: 150px !important;
      margin: 20px 30px 0px 0px;
    }
  }
}
.changePass {
  text-align: left !important;
}
.colunm {
  height: 72px !important;
  align-items: center;
  color: #000000 !important;
  &.old {
    margin-top: 10px !important;
  }
}
