#landingpage-footer{
  background-color: #2f3945;
  width: 100%;
  height: 6vw;
  color: #FFFFFF;
}
.footer-logo{
  margin: 0px;
  font-size: 3vw;
  margin-top: 1vw;
}
.footer-title{
  margin: 0px;
  margin-top: 1vw;
  font-size: 1.5vw;
}
.footer-text{
  margin: 0px;
  font-size: 1vw;
}
.footer-icon{
  z-index: 1;
  font-size: 2vw;
  margin-left: 1vw;
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}
.footer-icon:hover{
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -ms-transform:scale(1.5);
  -o-transform:scale(1.5);
  transform:scale(1.5);
}
.icon-cover{
  padding-left: 1.1vw;
  margin-top: 0.5vw;
}
