
.secondColunm {
  height: 52px !important;
  text-align: left !important;
  &.firstRow {
    margin-top: 10px;
  }
}
.firstColunm {
  height: 52px !important;
  align-items: center;
  &.firstRow {
    margin-top: 10px;
  }
}
.fa{
  color: rgb(117, 117, 117);
  padding-top: 4px !important;
  &.fa-facebook-square{
    color: #4267b2;
  }
  &.fa-twitter-square{
    color: #1da1f2;
  }
  &.fa-linkedin-square{
    color: #008498;
  }
}
.contact-information-button{
  display: flex;
  .btn {
    &.contactInformation {
      width: 150px !important;
      margin: 20px 30px 0px 0px;
    }
  }
}
