.navbar {
  background-color: white !important;
  align-items: center;
  color: red !important;
  &.main {
    h1 {
      flex: none !important;
    }
  }

  .logo {
    height: 30px;
    margin-left: 50px;
  }
  .menu-icon {
    padding-left: 20px !important;
  }
  .sidebar {
    flex-direction: row-reverse;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
    svg {
      height: 30px;
      width: 30px;
      color: white !important;
    }

    button {
      margin: 0 !important;
    }
  }
  
}
