.navbar {
  background-color: white !important;
  align-items: center;

  .menu-icon {
    padding-left: 20px !important;
  }
  svg {
    color: gray !important;
  }
  .sidebar {
    flex-direction: row-reverse;
    align-items: center;
    font-size: 30px;
    svg {
      height: 30px;
      width: 30px;
      color: white !important;
    }
  }
}
