.img{
  &.conference2 {
    width: 100%;
    height: auto;
    background: #000;
    opacity: .85;
    min-width: 400px;
  }
}
#description-grid{
  padding-right: 0px;
}
.landingpage-title{
  font-size: 2.5vw;
  padding-top: 1.5em;
  &.description{
    color: #ff5722;
  }
}
.section-text{
  font-size: 1.5vw;
  color: #2C303B;
}
.description-section{
  background-color: #FFFFFF;
}
