.d-flex {
  display: flex;
}

.form {
  width: 700px;
  margin: auto;
  justify-content: center;
  .date,
  .place {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .btn-group {
    justify-content: center;
    margin-top: 70px;
  }

  .title {
    font-size: 1.8em;
  }

  .header {
    padding-top: 20px;
    padding-left: 0 !important;
  }
}
.subheader {
  font-size: 2.5em !important;
}
