.first-column {
  display: flex;
}
.second-column {
  font-family: Roboto, sans-serif !important;
  font-size: 16px;
  font-weight: inherit;
}
.btn {
  &.save-change {
    width: 200px !important;
    box-shadow: none !important;
    margin-top: 30px;
    border-radius: 3px !important;
  }
  &.cancel {
    width: 200px !important;
    box-shadow: none !important;
    margin: 30px 0px 0px 30px;
    border-radius: 3px !important;
  }
}
.dropdown-gender {
  height: 45px !important;
}
.radio{
  &.gender{
    display: inline-flex;
    justify-content: space-around;
  }
}
