.landing-page-papers-grid {
  margin: 0px;
}

.landing-page-topic-title {
  font-size: 2.5vw;
  color: #ff5722;
}

.landing-page-paper-title {
  font-size: 1.7vw;
  padding-top: 0.5vw;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.landing-page-paper-title:hover {
  color: #ee5635;
}

.landing-page-papers-first-row {
  font-size: 3vw;
}

.landing-page-paper-hr {
  height: 2px;
  background-color: #ff5722;
  border: 0;
  margin-top: 24px;
}

.landing-page-paper-a {
  color: black !important;
}
