#timer-body {
  color: #FFFFFF;
  text-align: center;
  position: relative;
}
.timer-background-image{
  width: 100%;
  height: auto;
  display: block;
  background: #2c303b;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
  opacity: 0.9;
}
.timer-grid{
  position:absolute; /* absolute position (so we can position it where we want)*/
  width:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
}
.timer-text{
  color: #FFFFFF;
}

#timer {
  font-family: Arial, sans-serif;
  color: #FFFFFF;
  letter-spacing: -1px;
  display: flex;
}
#timer span {
  font-size: 5vw;
  color: #FFFFFF;
}
#timer span:first-child {
  margin-left: 0;
}
.small-timer{
  margin-right: 1vw;
  padding: 1.5vw;
  background: rgb(246, 60, 23);
  border-radius: 5px;
  width: 6vw;
}
.small-text{
  font-size: 1.5vw;
}
.timer-title{
  padding-top: 0px;
}
