.img{
  &.conference2 {
    width: 100%;
    height: auto;
    background: #000;
    opacity: .85;
  }
}
#description-grid{
  padding-right: 0px;
  padding-left: 0px;
}
.section-text{
  font-size: 1.5vw;
  color: #2C303B;
}
.description-section{
  background-color: #FFFFFF;
}
.section-col{
  padding: 0px;
}
