.changePassField {
  display: flex;
  justify-content: space-between;
  text-align: left !important;
  align-items: center;
}
#changePassContainer{
  width: 40vw;
}
.buttonRow{
  .btn {
    &.changePass {
      width: 150px;
      box-shadow: none !important;
      margin: 20px 10px 0px 0px;
    }
  }
}
.changePass{
  text-align: left !important;
}
