#changePassContainer {
  width: 40vw;
}
.btn {
  &.changePass {
    width: 150px !important;
    margin: 0px 0px 0px 30px;
  }
}
.changePass {
  text-align: left !important;
}
.firstColunm {
  height: 72px !important;
  align-items: center;
  &.old {
    padding-top: 15px;
    margin-top: 10px;
  }
}
