.d-flex {
  display: flex !important;
}
.container-form {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.text-align-center {
  text-align: center;
}
.align-items-baseline {
  align-items: baseline;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.position-fixed {
  position: fixed;
}
.flex-wrap {
  flex-wrap: wrap;
}
.primaryColor {
  background-color: #3e5566;
}
.color-white {
  color: white;
}
.m-auto {
  margin: auto;
}

body {
  margin: 0 !important;
  background: #f5f5f5;
  box-sizing: border-box;
  overflow: auto !important;
  a {
    text-decoration: none !important;
    color: gray !important;
  }
  .dashboard {
    padding-left: 3% !important;
    padding-right: 3% !important;
    padding-bottom: 50px;
    &.content {
      padding: 0 !important;
      background: white;
      padding: 0 !important;
    }
  }
  font-family: 'Roboto', sans-serif;
}
.date {
  align-items: center;
}
.deadline-input {
  padding: 20px 10px 20px 0;
}
.label-deadline {
  width: 160px;
}
.subheader {
  margin: 70px auto 10px;
  padding: 0 !important;
  font-size: 30px !important;
  &.subtitle {
    margin: 20px auto 10px !important;
  }
}
.body-content {
  margin: 15px auto 20px;
  min-width: 785px;
  width: 100%;
}
.marginBottom {
  margin-bottom: 30px;
}
.marginLeft {
  margin-left: 10px;
}
.page-breadcrumb {
  background: white;
  margin-bottom: 20px;
  height: 40px;
  color: gray;
  font-size: 15px;
  align-items: center;
  padding-left: 20px;
  svg {
    height: 22px !important;
    color: gray !important;
  }
  span {
    align-items: center;
    display: flex;
  }
}

#content {
  width: 102% !important;
}
.deadline-subheader {
  padding-left: 0 !important;
  font-size: 25px !important;
}
.section-deadline {
  background: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
}
