body {
  margin: 0 !important;
  background: #f5f5f5;
  a {
    text-decoration: none !important;
    color: black !important;
  }
  .dashboard {
    background: white;
    margin: 100px auto 20px;
    width: 80%;
    padding-bottom: 50px;
  }
}
