.register-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e6e6;
  background-image: linear-gradient(
      rgba(241, 240, 240, 0.4),
      rgba(241, 240, 240, 0.4)
    ),
    url('../../../images/background/backgroundimage.jpg');
}
.register-card {
  box-shadow: none !important;
  text-align: center;
  border-radius: 5px;
}
#register-form-container {
  width: 350px;
  height: 440px;
  justify-content: center;
  align-items: center;
  background-color: white !important;
  border: 1px solid #d8dee2;
  box-shadow: 0px 0px 8px #b8b3b3 !important;
}
#register-title {
  text-align: center;
  color: #9c2c0a !important;
  padding-top: 15px !important;
  margin-bottom: 0px !important;
}
